button {
    color: blanchedalmond;
    background-color: chocolate;
    border-color: chocolate;
    border-radius: 10px;
    font-size: 16px;
    position: absolute;
}

button:hover {
    color: chocolate;
    background-color: blanchedalmond;
}

#score {
    font-weight: 800;
}

body {
    background-color: SandyBrown;
}